<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NM · Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="./style.css">
  <!-- Favicon ICO -->
  <link rel="icon" href="https://d2aov160eccqlv.cloudfront.net/271739eb287c43adb004792095a0b2fc/images/7e26cb80ef4e68f870f1e40b5ef46584.ico">
</head>


<body>
  <div class="login-body"></div>
  
  <div class="login-logo">
  <div><img src="https://www.coolorange.com/hubfs/powerVault_product.png" width="64" height="64"></div><br>
  </div>

  <div class="login-header">
    <div>Network<span>Man</span></div>
  </div>

  <div class="login">
    <input type="text" placeholder="username" name="user"><br>
    <input type="password" placeholder="password" name="password"><br><br>&nbsp;&nbsp;
    <button class="content-button status-button details" href="/dashboard">Sign Up</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="content-button status-button details" href="/dashboard">Login</a>
  </div>

  <div class="footer">
    <div>&copy; 2022</div>
  </div>

</body>

</html>